@import "semantic-ui";

.field_with_errors {
    @extend .field;
    @extend .error;
}

.book {
    height: 350px;
    width:250px;
}

.bottom {
    margin-top: 30px;
    justify-content: center;
    bottom: absolute;
}

.book-show {
    height: 475px;
    width: 325px;
}

.now{
    
    margin-top: 100px;
    margin-left: 20%;
}